<!DOCTYPE html>
<html lang="en">


  <%- include('../partials/head', {title : 'Produk AGStore'}); %>
  <% if (isLoggedIn) { %>
      <%- include('../partials/header', {isLoggedIn : isLoggedIn,
          name: name}); %>
      <% } else { %>
          <%- include('../partials/header', {isLoggedIn : isLoggedIn}); %>
      <% } %>

    <body>
        <section class="content" style="margin-top: 75px;">
        
            <div class="container">
                <div class="row ">
                  <div class="col mb-4 col-breadcrumb">
                    <nav aria-label="breadcrumb">
                      <ol class="breadcrumb bg-transparent">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Product</li>
                      </ol>
                    </nav>
                  </div>
                </div>
              </div>
            
          <div class="container">
         
            <div class="row">
              <div class="col">
                <div class="sortBy">
                  <form action="/product/" id="formSearch">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <button class="btn btn-utama" type="submit" id="btnTest">Search</button>
                      </div>
                      <input type="text" id="search" class="form-control" placeholder="" aria-label=""  name="q"
                        aria-describedby="basic-addon1">
                    </div>        
                  </form>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="categorySort">Categories</label>
                    </div>
                    <select class="custom-select" id="categorySort" aria-placeholder="choose.." form="formSearch" name="category">
                      <% if(reqcategory) {%>
                        <option value="<%= reqcategory %>" ><%= reqcategory %></option>
                        <% } else {%>
                          <option value="" disabled selected>Select your option</option>
                     <% }%>
                      <% categories.forEach(category =>{ %>
                        <option value="<%= category.title %>" ><%= category.title %></option>
                        <% }) %>
                    </select>
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="brandSort">Brand</label>
                    </div>
                    <select class="custom-select" id="brandSort" form="formSearch" name="brand">
                      <% if(reqbrand) {%>
                        <option value="<%= reqbrand %>" ><%=reqbrand %></option>
                        <% } else {%>
                          <option value="" disabled selected>Select your option</option>
                     <% }%>
                      <% brands.forEach(brand =>{ %>
                        <option value="<%= brand.title %>" ><%= brand.title %></option>
                        <% }) %>
                    </select>
                  </div>
               
                  <div class="dropdown">
      
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                      Filter
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#">Harga Tertinggi</a>
                      <a class="dropdown-item" href="#">Harga Terendah</a>
                      <a class="dropdown-item" href="#">Terbaru</a>
                    </div>
                  </div>
                </div>
      
      
              </div>
            </div>
            <div id="update">
             <div class="row mt-2">
              <% products.forEach(product =>{ %>
                <div class="col-md-3-sm-6 ml-3 mt-3">
                <div class="card card-item" style="width: 14rem;">
                  <img class="card-img-top card-img" src="data:image/<%=product.img.contentType%>;base64, 
                  <%= product.img.data.toString('base64') %>">
                <div class="card-body">
                <h5 class="card-title text-center"><%= product.nama %></h5>
                <p class="card-text text-center"><b>Rp <%= product.price %></b></p>
                </div>
                <div class="card-footer">
                <a href="/product/item/<%= product.slug %>" class="btn btn-primary d-flex justify-content-center mt-3">Beli Sekarang</a>
                </div>
                </div>
                </div>
                   <% }) %>
                </div>
                 
               
                
            </div>
      
      
      
      
      
            <div class="container mt-5" <div class="row ">
              <div class="col justify-content-center">
                <div class="d-flex justify-content-center">
                  <nav aria-label="...">
                    <ul class="pagination pagination-lg">
                      
                     <% if(pagination.previous) {%>
                      <li class="page-item"><a class="page-link" href="/product/?page=<%= pagination.previous.page %>">Back</a></li>
                    <%} else {%>
                      <li class="page-item disabled"><a class="page-link">Back</a></li>
                      <% } %>
                      <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Page <%= currentpage %></a>
                      </li>
                      <% if(pagination.next) {%>
                        <li class="page-item"><a class="page-link" href="/product/?page=<%= pagination.next.page %>">Next</a></li>
                      <%} else {%>
                        <li class="page-item disabled"><a class="page-link">Next</a></li>
                        <% } %>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
          </div>
        </section>
      
    
      
  
  

      </body>

  <%- include('../partials/footer',{isLoggedIn : isLoggedIn}); %>


</html>