<!DOCTYPE html>
<html lang="en">


<%- include('../../../partials/admin/head'); %>


  <body onload="startTime()">

    <%- include('../../../partials/admin/sidenav'); %>
    <%- include('../../../partials/admin/header',{name:name}); %>
  
    <div class="content">
      <h1 style="font-family: 'Poppins';" class="text-center">Products</h1>
      <div class="container">
  
        <div class="row ml-n5">
          <a href="/dashboard/product/create" class="btn btn-primary mb-2">+ Tambah produk</a>
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col" class="table-header text-center">Nama Produk</th>
                <th scope="col" class="table-header text-center">Thumbnail Produk</th>
                <th scope="col" class="table-header text-center">SKU Produk</th>
                <th scope="col" class="table-header text-center">Harga Produk </th>
                <th scope="col" class="table-header text-center">Berat Produk</th>
                <th scope="col" class="table-header text-center">Deskripsi Produk</th>
                <th scope="col" class="table-header text-center">Brand</th>
                <th scope="col" class="table-header text-center">Kategori Produk</th>
                <th scope="col" class="table-header text-center">Tanggal Input</th>
                <th scope="col" class="table-header text-center"></th>
                <th scope="col" class="table-header text-center"></th>
              </tr>
            </thead>
            <tbody>
              <% products.forEach(product =>{ %>
                <tr>
                  <th scope="row" class="text-center"><%= product.nama %></th>
                  <td class="table-data text-center"> <img src="data:image/<%=product.img.contentType%>;base64, 
                    <%=product.img.data.toString('base64')%>" style="max-width: 100px;"> </td>
                  <td class="table-data text-center"><%= product.sku %></td>
                  <td class="table-data text-center">Rp.<%= product.price %></td>
                  <td class="table-data  text-center"><%= product.weight %> (gram)</td>
                  <td class="table-data text-center"><%- product.desc %></td>
                  <td class="table-data text-center"><%= product.brand %></td>
                  <td class="table-data text-center"><%= product.category %></td>
                  <td class="table-data text-center"><%= product.createdAt.toLocaleDateString() %></td>
                  <td class="table-data text-center" colspan="2"><a href="/dashboard/product/<%= product.slug %>" class="btn btn-info">Detail</a></td>
                  <td class="table-data text-center""><form action="/dashboard/product/<%= product.id %>/delete?_method=DELETE" method="POST"><button type="submit" class="btn btn-danger">Hapus</button></form></td>
                </tr>
                <% }) %>
             
            </tbody>
          </table>
      
          </div>
  
        </div>
  
      </div>
      </div>  

      <%- include('../../../partials/admin/footer'); %>
  </body>

       
</html>