<!DOCTYPE html>
<html lang="en">


<%- include('../../../partials/admin/head'); %>


  <body onload="startTime()">

    <%- include('../../../partials/admin/sidenav'); %>
    <%- include('../../../partials/admin/header',{name:name}); %>
  
    <div class="content">
      <h1 style="font-family: 'Poppins';" class="text-center">Daftar Brand / Merk</h1>
      <div class="container">
  
        <div class="row">
          <a href="/dashboard/product/brand/create" class="btn btn-primary mb-2">+ Tambah brand</a>
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col" class="table-header text-center">Nama Brand</th>
                <th scope="col" class="table-header text-center">Gambar Brand</th>
                <th scope="col" class="table-header text-center">Tanggal Input</th>
                <th scope="col" class="table-header text-center"></th>
                <th scope="col" class="table-header text-center"></th>
              </tr>
            </thead>
            <tbody>
              <% brands.forEach(brand =>{ %>
                <tr>
                  <th scope="row" class="text-center"><%= brand.title %></th>
                  <td class="table-data text-center"> <img src="data:image/<%=brand.img.contentType%>;base64, 
                    <%=brand.img.data.toString('base64')%>" style="max-width: 100px;"> </td>
                  <td class="table-data text-center"><%= brand.createdAt.toLocaleDateString() %></td>
                  <td class="table-data text-center" colspan="2"><a href="/dashboard/product/brand/<%= brand.slug %>" class="btn btn-info">Detail</a></td>
                  <td class="table-data text-center""><form action="/dashboard/product/brand/<%= brand.id %>/delete?_method=DELETE" method="POST"><button type="submit" class="btn btn-danger">Hapus</button></form></td>
                </tr>
                <% }) %>
             
            </tbody>
          </table>
      
          </div>
  
        </div>
  
      </div>
      </div>  

      <%- include('../../../partials/admin/footer'); %>
  </body>

       
</html>