<!DOCTYPE html>
<html lang="en">


<%- include('../../../partials/admin/head'); %>


<body onload="startTime()">

  <%- include('../../../partials/admin/sidenav'); %>
  <%- include('../../../partials/admin/header',{name:name}); %>

  <div class="content">
    <h1 style="font-family: 'Poppins';" class="text-center">Detail Transaksi <%= orders.orderID %></h1>
    <div class="container">

    <div class="card mt-3 card-transaction-history">
        <% orders.forEach(order =>{ %>
            <div class="card mt-3 card-transaction-history">
              <% let options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'}; %>
              <div class= "card-header "><%=  order.createdAt.toLocaleString("id-ID", options) %>, Pukul <%=  order.createdAt.toLocaleTimeString("id-ID")%>
              </div>
              <div class="card w-100">
                <div class="card-body">
                  <h5 class="card-title">Id Order :<span class="id-Order" style="color: brown;"> <%=  order._id %></span>
                    <div>Status Transaksi : <span class="transaction-status"><%=  order.status %></span>
                    <div class="button-confirmation"></div>Total :
                      <span class="history-total"> <%=  order.total %></span> (Include Shipping)</div>
                  </h5>
                  <div class="shopping-cart">
                    <% order.fromCart.forEach(product =>{ %>
                    <div class="card mb-3 product" style="max-width: 600px;">
                      <div class="row no-gutters">
                        <div class="col-md-4 d-flex align-items-center">
                          <img src="data:image/<%=product.img.contentType%>;base64, 
                          <%=product.img.data.toString('base64')%>" class=" product-img" alt="...">
                        </div>
                        <div class="col-md-4">
                          <div class="card-body product-details">
                            <h5 class="card-title product-title"><%= product.nama %></h5>
                            <div class="card-text product-price"><%= product.price %></div>
                            <div class="text-muted">Qty :<span class="qty-item"><%= product.qty %></span></div>
                          </div>
                        </div>
                        <div class="col-md-2 d-flex align-items-center ml-n4">
  
                        </div>
                        <div class="col-md-2 d-flex align-items-center ml-4">
                        </div>
                      </div>
                    </div>
                    <% }) %>
                    <h1>Detail Pembeli</h1>
                    <span class="text-muted">nama : <%= user.name %></span> 
                    <br>
                    <span class="text-muted">email : <%= user.email %></span> 
                    <br>
                    <span class="text-muted">Alamat : <%= user.address %></span> 
                    <br>
                    <span class="text-muted">Kode pos : <%= user.zip %></span> 
                    <br>
                    <span class="text-muted">No telp : <%= user.phone    %></span> 
                  </div>
                </div>
              </div>
            </div>
            <% }) %>            
    </div>
  </div>

  <%- include('../../../partials/admin/footer'); %>
</body>


</html>