<!DOCTYPE html>
<html lang="en">


<%- include('../../../partials/admin/head'); %>


  <body onload="startTime()">

    <%- include('../../../partials/admin/sidenav'); %>
    <%- include('../../../partials/admin/header',{name:name}); %>
  
    <div class="content">
      <h1 style="font-family: 'Poppins';" class="text-center">Transaksi</h1> <h5 style="font-family: 'Poppins';" class="text-center text-muted">Menampilkan transaksi yang Pending (menunggu Konfirmasi Pembayaran)</h5>
      <div class="container">
  
        <div class="row">
         
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col" class="table-header text-center">Kode Transaksi</th>
                <th scope="col" class="table-header text-center">Total Transaksi</th>
                <th scope="col" class="table-header text-center">Tanggal Transaksi</th>
                <th scope="col" class="table-header text-center">Status Transaksi</th>
                <th scope="col" class="table-header text-center"></th>
                <th scope="col" class="table-header text-center"></th>
              </tr>
            </thead>
            <tbody>
              <% orders.forEach(order =>{ %>
                <% let options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'}; %>
                <tr>
                  <th scope="row" class="text-center"><%= order._id %></th>
                  <td class="table-data text-center">Rp.<%= order.total %></td>
                  <td class="text-center"><%=  order.createdAt.toLocaleString("id-ID", options) %>, Pukul <%=  order.createdAt.toLocaleTimeString("id-ID")%></td>
                  <td class="table-data  text-center text-warning font-weight-bold"><%=  order.status %></td>
                  <td class="table-data text-center"><a href="/dashboard/transaction/<%= order._id %>/detail" class="btn btn-info">Detail</a></td>
                  <td class="table-data text-center"><form action="/dashboard/transaction/<%= order._id %>/update-success?_method=PUT" method="POST"><button type="submit" class="btn btn-success">Success</button></form></td>

                  <td class="table-data text-center"><form action="/dashboard/transaction/<%= order._id %>/update-failed?_method=PUT" method="POST"><button type="submit" class="btn btn-danger">Failed</button></form></td>
                </tr>
                <% }) %>
             
            </tbody>
          </table>
      
          </div>
  
        </div>
  
      </div>
      </div>  

      <%- include('../../../partials/admin/footer'); %>
  </body>

       
</html>